
<%- include( '../main/header.ejs' ) %>
<%- include( '../main/sidebar.ejs',{session:session} ) %>

<div class="content-body">
    <div class="container-fluid">
        <br>
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Users</a></li>
            </ol>
        </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card card-outline-info">
                            <div class="card-header border-bottom">
                                <h4 class="m-b-0"><i class="fa fa-user-o" aria-hidden="true"></i> User List</h4>

                                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i><a href="/admin/adminAddEmployee" class="text-white"><i class="" aria-hidden="true"></i> Add User</a></button>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive ">
                                    <table id="example3" class="table table-bordered table-sm" >
                                        <thead>
                                            <tr>
                                                <th> Username</th>
                                                <th> Name</th>
                                                <th>Email </th>
                                                <th>Contact No. </th>
                                                <th>Address</th>
                                                <th>Department</th>
                                                <th>User Role</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                               <tr>
                                                <th> Username</th>
                                                <th> Name</th>
                                                <th>Email </th>
                                                <th>Contact No. </th>
                                                <th>Address</th>
                                                 <th>Department</th>
                                                <th>User Role</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <% EmpData.forEach(function(d,index){ %>
                                            <tr>

                                                    <td><%=d.em_username %></td>
                                                    <td title="<%= d.fname + ' ' + d.lname %>"> <%= d.fname + ' ' + d.lname %></td>   
                                                    <td><%=d.email%></td>
                                                    <td><%= d.contact%></td>
                                                    <td><%=d.em_address%></td>
                                                    <td><%=d.dep_id%></td>
                                                    <td><%=d.role%></td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <a href="/admin/employeeView/<%= d.id %>" title="View"  class="btn btn-primary shadow btn-xs sharp me-1"><i class="fa fa-eye"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% }) %>     
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include( '../main/footer.ejs' ) %>
<script>
    $('#employees123').DataTable({
        "aaSorting": [[1,'asc']],
        "pageLength": 100
    });
</script>
<script>

$(document).ready(function() {
   $("#li-employees").addClass('active');
$("#usersMain").addClass('active');
$('#usersMain').addClass('show');
});
</script>



