<%- include( '../main/header.ejs' ) %>
<%- include( '../main/sidebar.ejs' ) %>

<div class="content-body">
    <div class="container-fluid">
        
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Master</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Department</a></li>
            </ol>
        </div>     
                <div class="row">
                    <div class="col-lg-5">
                            

                        <div class="card card-outline-info">
                            <div class="card-header border-bottom">
                                <h4 class="m-b-0">Add Department</h4>
                            </div>
                            <div class="card-body">
                                    <form method="post" action="/admin/m_department" >
                                        <div class="form-body">
                                            <div class="row ">
                                                    <div class="col-md-12">
                                                <div class="form-group">
                                                        <label class="control-label">Department Code</label>
                                                        <input type="text" name="dep_code" id="dep_code"  class="form-control" placeholder="Department Code">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Departname Name</label>
                                                        <input type="text" name="department_name" id="department_name" class="form-control" placeholder="Department Name"  required>
                                                    </div>
                                                </div>
                                                
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                        </div>
                                        <div class="form-actions">
                                            <button type="submit" class="btn btn-info btn-sm"> <i class="fa fa-check"></i> Save</button>
                                            <button type="button" class="btn btn-info btn-sm">Cancel</button>
                                        </div>
                                    </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-7">
                        <div class="card card-outline-info">
                            <div class="card-header border-bottom">
                                <h4 class="m-b-0 "> Department List</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive ">
                                   <table id="example3" class="table table-bordered table-sm" >
                                        <thead>
                                            <tr>
                                                <th>Deparment Code</th>
                                                <th>Deparment Name</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        
                                        
                                        <tbody>
                                            <% data.forEach(function(data) { %>
                                                <tr>
                                                  <td><%= data.dep_code %></td>
                                                  <td><%= data.department_name %></td>
                                                  <td class="jsgrid-align-center">
                                                    <a href="/edit-department/<%= data.id %>" title="Edit" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                                                    <a href="/delete-department/<%= data.id %>" title="Delete" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure to delete this data?')"><i class="fa fa-trash"></i></a>
                                                  </td>
                                                </tr>
                                              <% }); %> 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include( '../main/footer.ejs' ) %>

    <script>
$(document).ready(function() {
   $("#li-m_departments").addClass('active');
$("#masterMain").addClass('active');
$('#masterMain').addClass('show');
});
</script>