<%- include( '../main/header.ejs' ) %>
<%- include( '../main/sidebar.ejs',{session:session} ) %>
<div class="content-body">
    <div class="container-fluid">
        
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Master</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Industries</a></li>
            </ol>
        </div>


        <div class="row">

             <div class="col-md-6 col-sm-12 ">
             
                        <div class="card card-outline-info">
                            <div class="card-header border-bottom">
                                <h4 class="m-b-0">Add Industry</h4>
                            </div>
                            <div class="card-body">
                                    <form method="post" action="/admin/g_industryEdit/<%=editInd.id%>" >
                                            <div class="row ">
                                                <div class="form-group col-md-8">
                                                        <label class="control-label">Industry</label>
                                                        <input type="text" name="industry_name" id="indusry_name" value="<%=editInd.industry_name%>" class="form-control" placeholder="Enter Industry Name" required minlength="2">
                                                </div>
                                                <div class="form-group mt-4 col-md-4">
                                                <button type="submit" class="btn btn-primary btn-sm"> <i class="fa fa-check"></i> Update</button>
                                                </div>
                                              
                                            </div>
                                    </form>
                            </div>
                        </div>
            </div>

            <div class="col-md-6 col-sm-12 ">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Industrys List</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example3" class="table table-bordered table-sm" >
                                        <thead>
                                            <tr>
                                                <th>Sr</th>
                                                <th>Name</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% data.forEach(function(d,index){%>
                                                <tr> 
                                                    <td><%= index + 1 %></td>
                                                    <td><%=d.industry_name %></td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <a href="/admin/edit_m_industry/<%=d.id%>" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                                            <a onclick="return confirm('Are you sure to delete ')"  href="/admin/Delete_m_industry/<%=d.id%>" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                                        </div>                                              
                                                    </td>                                               
                                                </tr>
                                            <%})%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>
<%- include( '../main/footer.ejs' ) %>